<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hector.k_money">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Inicio"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ingresos"
            android:label="@string/title_activity_ingresos"
            android:parentActivityName=".Inicio"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hector.k_money.Inicio" />
        </activity>
        <activity
            android:name=".CrearIngreso"
            android:label="@string/title_activity_crear_ingreso"
            android:parentActivityName=".Ingresos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hector.k_money.Ingresos" />
        </activity>
        <activity
            android:name=".VerIngreso"
            android:label="@string/title_activity_ver_ingreso"
            android:parentActivityName=".Ingresos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hector.k_money.Ingresos" />
        </activity>
        <activity
            android:name=".consultarIngresos"
            android:label="@string/title_activity_consultar_ingresos"
            android:parentActivityName=".Ingresos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hector.k_money.Ingresos" />
        </activity>
        <activity
            android:name=".Egresos"
            android:label="@string/title_activity_egresos"
            android:parentActivityName=".Inicio"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hector.k_money.Inicio" />
        </activity>
        <activity
            android:name=".CrearEgreso"
            android:label="@string/title_activity_crear_egreso"
            android:parentActivityName=".Egresos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hector.k_money.Egresos" />
        </activity>
        <activity
            android:name=".ConsultarEgreso"
            android:label="@string/title_activity_consultar_egreso"
            android:parentActivityName=".Egresos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hector.k_money.Egresos" />
        </activity>
        <activity
            android:name=".VerEgreso"
            android:label="@string/title_activity_ver_egreso"
            android:parentActivityName=".ConsultarEgreso"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hector.k_money.ConsultarEgreso" />
        </activity>
        <activity
            android:name=".Deudas"
            android:label="@string/title_activity_deudas"
            android:parentActivityName=".Inicio"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hector.k_money.Inicio" />
        </activity>
        <activity
            android:name=".CrearDeuda"
            android:label="@string/title_activity_crear_deuda"
            android:parentActivityName=".Deudas"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hector.k_money.Deudas" />
        </activity>
        <activity
            android:name=".ConsultarDeudas"
            android:label="@string/title_activity_consultar_deudas"
            android:parentActivityName=".Deudas"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hector.k_money.Deudas" />
        </activity>
        <activity
            android:name=".VerDeuda"
            android:label="@string/title_activity_ver_deuda"
            android:parentActivityName=".ConsultarDeudas"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hector.k_money.ConsultarDeudas" />
        </activity>
    </application>

</manifest>